  body {
      background-color: goldenrod;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: darkslategrey;
  }

  head {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  fieldset {
    field-sizing: 250px;
  }

  p {
    text-align: center;
  }

  .wrapper {
    display: flex;
  }

  .wrapper div {
    flex: 1;
  }

  div {
    border: cornflowerblue;
  }

  .box1 {
    text-align: center;
  }

  .box1 h1 {
    font-size: 2rem;
  }

  .box1 h2 {
    font-size: 1.5rem;
  }

  .box1 p {
    font-style: italic;
  }

  .box1 figcaption {
    font-size: 0.85rem;
  }
